
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="border backgroundWhite">
    <div class="card-header py-3">
        
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="sidebar-brand d-flex align-items-center justify-content-center">
                    <img src="~/img/logo.jpg" class="w-50" />
                </a>
            </div>
            <div class="col-md-4 text-right">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 class="m-0 font-weight-bold text-primary">Client List</h6>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp; Create New Client</a>
        </div>
    </div>
    <br />
    <br />

    <table id="tblData" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th>Name</th>
                @*<th>Location </th>*@
                <th>Client ID </th>


                <th></th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts{
    <script src="~/js/client.js"></script>
}

