@model SDSDWorkOrder.Models.ViewModels.CommentViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager




<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Comment" asp-controller="WorkOrder" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="WorkOrderId" class="form-control" type="hidden" />

            </div>
            <div class="form-group">


          


            </div>
            <div class="form-group row">
                @*<label asp-for="Text" class="control-label"></label>*@
                <textarea asp-for="Text" class="form-control col-12"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

