@model SDSDWorkOrder.Models.ViewModels.WorkorderCommentVM
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager




<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Comment" asp-controller="WorkOrder" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="WorkOrders.Id" class="form-control" type="hidden" />

            </div>
            <div class="form-group">


                @if (SignInManager.IsSignedIn(User) && User.IsInRole("ProjectManager"))
                {
                    <p><a asp-action="UpdateStatus" asp-area="Admin" asp-controller="WorkOrder" class="btn btn-danger">Approve</a></p>
                    <div class="form-group row">
                        @*<label asp-for="Text" class="control-label"></label>*@
                        <textarea asp-for="Comment.Text" class="form-control col-12"></textarea>
                        <span asp-validation-for="Comment.Text" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                }

                @if (SignInManager.IsSignedIn(User) @*&& User.IsInRole("AccountOfficer") && Model.WorkOrders.PMstatus == 1*@)
                {
                    <p><a asp-action="UpdateStatus" asp-area="Admin" asp-controller="WorkOrder" class="btn btn-danger">Approve</a></p>
                    <div class="form-group row">
                        @*<label asp-for="Text" class="control-label"></label>*@
                        <textarea asp-for="Comment.Text" class="form-control col-12"></textarea>
                        <span asp-validation-for="Comment.Text" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                }
                @if (SignInManager.IsSignedIn(User) @*&& User.IsInRole("Management") && Model.WorkOrders.AMstatus == 0*@)
                {
                    <p><a asp-action="UpdateStatus" asp-area="Admin" asp-controller="WorkOrder" class="btn btn-danger">Approve</a></p>
                    <div class="form-group row">
                        @*<label asp-for="Text" class="control-label"></label>*@
                        <textarea asp-for="Comment.Text" class="form-control col-12"></textarea>
                        <span asp-validation-for="Comment.Text" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                }


            </div>
            <div class="form-group row">
                @*<label asp-for="Text" class="control-label"></label>*@
                <textarea asp-for="Comment.Text" class="form-control col-12"></textarea>
                <span asp-validation-for="Comment.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

