

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <button type="submit" class="btn btn-primary btn-block form-control">Create</button>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
    </div>
</div>

  
