@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "AllRole";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />

@if (Model.Any())
{


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Registered Roles</h6>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <a class="sidebar-brand d-flex align-items-center justify-content-center">
                            <img src="~/img/logo.jpg" class="w-50" />
                        </a>
                    </div>
                    <div class="col-md-4 text-right">
                        <a asp-controller="Roles" asp-action="AllRole" class="btn btn-info">
                            <i class="fas fa-plus"> Add Role</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>

                                <th>Action</th>


                            </tr>
                        </thead>

                        <tbody>


                            @foreach (var role in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => role.Name)</td>

                                    <td>
                                        <a asp-action="EditRole" asp-controller="Roles" asp-route-id="@role.Id" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;



                                        <a asp-action="DeleteRole" asp-controller="Roles" asp-route-Id="@role.Id" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </td>


                                </tr>

                            }




                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
}



else
{

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Registered Users</h6>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <a class="sidebar-brand d-flex align-items-center justify-content-center">
                            <img src="~/img/logo.jpg" class="w-50" />
                        </a>
                    </div>
                    <div class="col-md-4 text-right">
                        <a asp-action="CreateRole" asp-controller="Roles" class="btn btn-primary">
                            <i class="fas fa-plus"> AddRole</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>No Role has been Added</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
}

@section Scripts{
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function () {
        $("#dataTable").DataTable();
    })
    </script>
}

