@model SDSDWorkOrder.Models.ViewModels.EditRoleViewModel


@{
    ViewData["Title"] = "EditRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="account" method="post" asp-controller="Roles" asp-action="EditRole">

    <div class="container-md">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <h1 class="h4 text-gray-900 mb-4">Edit Role</h1>
                                    </div>
                                    <form id="account" method="post" class="user">
                                        <div class="form-group">
                                            <input asp-for="RoleName" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                            <span asp-validation-for="RoleName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-user btn-block">Update</button>
                                            <a asp-action="AllRole" value="Update" class="btn btn-primary btn-user btn-block">Cancel</a>
                                        </div>
                                        <hr>
                                    </form>
                                    <hr>
                                    <div class="text-center">

                                    </div>
              </div>
             <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
             <thead>
          <tr>
              
                  @if (Model.Users.Any())
                  {<td><div><b>Users in @Model.RoleName Role</b></div></td>

                      @foreach (var user in Model.Users)
                      {
                  <tr>
                      <td>@Html.DisplayFor(modelItem => user)</td>
                  </tr>
              }
                  }
                  else
                  {
                      <div>You have not added any User</div> 
                  }
                  </th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
               </table>
           <div class="card-footer">
           <div class="form-group">
           <a asp-action="EditUserInRole" asp-controller="Roles" asp-route-roleId="@Model.Id" value="Update" class="btn btn-primary">Manage User</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</form>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
