@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<p>
  A link has been sent to you to you mail, Please check your email to reset your password.
</p>

